<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.runtime.remoting>
    <application>
      <client url="http://localhost:13000">

        <!-- Allows client activation of Customer type at above URL -->
        <activated type="Remoting.Client.ClientActivated, Remoting" />

        <wellknown type="Remoting.Server.WellKnownSingleton, Remoting"
                   url="http://localhost:13000/MyURI.soap" />

        <wellknown type="Remoting.Server.WellKnownSinglecall, Remoting"
                   url="http://localhost:13000/MyURI.soap" />

      </client>
    </application>
  </system.runtime.remoting>
</configuration>