<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.runtime.remoting>
    <application>
      <lifetime leaseTime="60s" renewOnCallTime="5s"
          sponsorshipTimeout="5s" leaseManagerPollTime="10s"/>
      
      <client url="http://localhost:13000">

        <!-- Allows client activation of Customer type at above URL -->
        <activated type="Remoting.ClientActivated, Remoting" />

        <wellknown type="Remoting.WellKnownSingleton, Remoting"
                   url="http://localhost:13000/MyURITON.soap" />
      </client>
      <channels>
        <channel port="13001" ref="http" />
        </channels>
    </application>
  </system.runtime.remoting>
</configuration>