<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.runtime.remoting>
    <application>
      <service>

        <!-- Register Customer class as client activated -->
        <activated type="Remoting.Client.ClientActivated, Remoting" />

        <wellknown mode="Singleton"
                   type="Remoting.Server.WellKnownSingleton, Remoting"
                   objectUri="MyURI.soap" />
        
        <wellknown mode="SingleCall"
                   type="Remoting.Server.WellKnownSinglecall, Remoting"
                   objectUri="MyURI.soap" />
      </service>
      <channels>
        <channel port="13000" ref="http" />
        <serverProviders>
          <formatter ref ="binary" typeFilterLevel="Full"/>
        </serverProviders>
        <clientProviders>
          <formatter ref ="binary"/>
        </clientProviders>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>